{% extends 'base.html' %}
{% block title %}
    <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='news.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
{% endblock %}

{% block content %}
<div class="jumbotron"><br><br><br><br><br>
    <h1>About Us</h1>
</div><br>
<div class="container">
    <h3><strong>Our Vision</strong></h3>
        <p>Create a safe space where carers can engage</p>
    <h3><strong>Our Mission</strong></h3>
        <p>Provide dementia carers a platform where they can engage and access dementia research and useful care and selfcare tips and raise awareness on Dementia in Kenya.</p>
    <h3><strong>What we do:</strong></h3>
    <ul>
        <li><p>We provide articles and resources on Dimentia.</p></li>
        <li><p>We address misconceptions on Dimensia by researching on it and offering the latest news on it.</p></li>
        <li><p>We seize opportunity by identifying issue gaps and the latest comments and questions our community asks.</p></li>
        <li><p>We offer a platform where one can subscribe and ask for help.</p></li>
    </ul>
</div>
{% endblock %}