{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="jumbotron"><br><br><br><br><br>
    <h1 class="align-middle">About us</h1>
</div><br>
<div class="container " >
    <p><strong>Our Vision</strong>: A world without Alzheimer's and all other dementia.</p>
    <p><strong>Our Mission</strong>: Raise awareness on Dementia in Kenya.</p>
    <p><strong>What we do?</strong></p>
    <ul>
        <li>We provide articles and resources on Dimensia.</li>
        <li>We address misconceptions on Dimensia by researching on it and offering the latest news on it.</li>
        <li>We seize opportunity by identifying issue gaps and the latest comments and questions our community asks.</li>
        <li>We offer a platform where one can subscribe and ask for help.</li>
    </ul>
</div>
{% endblock %}