{% extends 'base.html' %}

{% block title %}
<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="card card-image" style="background-image: url(https://picsum.photos/2560/500?whitescale); background-repeat:no-repeat">
    <h1 class="text-center">Alzheimer's & Dementia </h1>
    <hr><br>
</div>
<div class="container">
    <br><br>
    <h1 class="text-center">What is Dimentia?</h1>
    <p>Dimentia is a group of symptoms that affects mental cognitive tasks such as memory and reasoning.It is a
        progressive disease that destroys memory and other important mental functions.</p>
    <p>Although dementia mainly affects older people, it is not a normal part of ageing.</p>

